@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.active {
  left: 0px;
}

.inactive {
  left: 100%;
}

.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 35vw;
  height: 30vw;
  object-fit: cover;
  object-position: center;
  max-width: 500px;
  max-height: 400px;
}

.triplehexcard .hexagon {
  width: 90%;
  height: 15vw;
}

@media (width >= 64rem){
  .triplehexcard h2 {
    font-size: 35px;
  }
  
  .triplehexcard h3 {
    font-size: 25px;
  }  
}

@media (width >= 80rem){
  .triplehexcard h2 {
    font-size: 40px;
  }
  
  .triplehexcard h3 {
    font-size: 30px;
  }  
}

@media screen and (max-width: 640px) {
  .triplehexcard .hexagon {
    width: 45vw;
    height: 40vw;
  }

  .hexagon {
    width: 80vw;
    height: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .triplehexcard .hexagon {
    width: 35vw;
    height: 30vw;
  }

  .hexagon {
    width: 100%;
    height: 70vw;
  }
}